<app-buyer-header></app-buyer-header>
<div class="row1">


    <div class="row">
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Place of Delivery">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Terms of Payment">
            </mat-form-field>
        </div>


        <div class="w-100"></div>
        <div class="col">
            <mat-form-field  appearance="outline" >
                <input matInput placeholder="Billing Address">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Time Period">
            </mat-form-field>
        </div>


        <div class="w-100"></div>
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Terms of Delivery">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="REF/ISBN CAT.NO">
            </mat-form-field>
        </div>

        <div class="w-100"></div>

        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Description">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Sales Unit (PCS/LTR)">
            </mat-form-field>
        </div>

        <div class="w-100"></div>

        <div class="col">
            <mat-form-field  appearance="outline">
                <input matInput placeholder="Quantity">
            </mat-form-field>

        </div>
        <div class="col">
            <!-- <mat-form-field  appearance="outline">
                <input matInput placeholder="Quantity">
            </mat-form-field> -->

        </div>