<body>
    <div class="register">
        <img class="contents" src='../../assets/bg-4.jpg'>

        <div class="register-info">s
            <div>
            <mat-radio-group>
                <mat-radio-button>supplier</mat-radio-button>
                <mat-radio-button>buyer</mat-radio-button>
                <mat-radio-button>sponsor</mat-radio-button>
            </mat-radio-group>
</div>
<div>
            <mat-form-field>
                <mat-label>Choose Wallet</mat-label>
                <mat-select>
                    <mat-option *ngFor="let wallet of wallets" value={{wallets}}>{{wallet}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>    
        <div>
                <mat-form-field>
                        <mat-label>Industry Type</mat-label>
                        <mat-select>

                            <mat-option *ngFor="let industry of industries" value={{industries}}>
                                {{industry}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>   
        </div>    

        </div>
    </div>




    
    


