<body>
    <div class="register">
        <img class="contents" src='../../assets/bg-4.jpg'>

        <div class="register-info">
            <div>
                <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
                    <mat-step label="ACCOUNT DETAILS">

                        <div class="register-inner">
                            <p class="title">ACCOUNT DETAILS</p>
                            <hr class="detail">
                            <p class="subtitle">Tell us something more about you</p>
                            <div>
                                <p class="register-title">Register as:</p><br>
                                <mat-radio-group>
                                    <mat-radio-button color="primary" size="small">supplier</mat-radio-button>
                                    <mat-radio-button color="primary">buyer</mat-radio-button>
                                    <mat-radio-button color="primary">sponsor</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label class="label">Choose Wallet</mat-label>
                                    <mat-select disableOptionCentering>
                                        <mat-option *ngFor="let wallet of wallets" value={{wallets}}>{{wallet}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label class="label">Industry Type</mat-label>
                                    <mat-select class="labelinfo">

                                        <mat-option *ngFor="let industry of industries" value={{industries}}>
                                            {{industry}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label class="label">Phone Number</mat-label>
                                    <mat-select>

                                        <mat-option *ngFor="let industry of industries" value={{industries}}>
                                            {{industry}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-raised-button>SEND OTP</button>
                            </div>

                        </div>
                    </mat-step>


                    <mat-step label="PERSONAL DETAILS">

                        <div class="register-inner">
                            <p class="title">PERSONAL DETAILS</p>
                            <hr class="detail">
                            <p class="subtitle">Tell us something more about you</p>
                            <div>
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <button mat-raised-button matStepperPrevious>PREVIOUS</button>
                                <button mat-raised-button matStepperNext>NEXT</button>
           
                            </div>
                           
                            
                          

                        </div>
                    </mat-step>



                    
                    <mat-step label="SECURITY QUESTIONS">

                            <div class="security-inner">
                                <p class="title">SECURITY QUESTIONS</p>
                                <hr class="detail">
                                <p class="subtitle">Fill in your credentials</p>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>In what city or town did your mother and father meet?</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>In what town was your first job?</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>What was the name of the company where you had your first job?</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>What was your favorite food as a child?</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                            <mat-label>What is the name of your favorite childhood friend?</mat-label>
                                            <input matInput>
                                        </mat-form-field>
                                    <button mat-raised-button matStepperPrevious>PREVIOUS</button>
                                </div>
                               
                                
                              
    
                            </div>
                        </mat-step>
                </mat-horizontal-stepper>
            </div>

        </div>
    </div>