<app-buyer-header></app-buyer-header>
<div class="container">
        <div class="row">
          <div class="col-md-3">
            <mat-card class="currentOrders">
              <mat-card-title> Current Orders</mat-card-title>
              <mat-card-content>current orders pic</mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="invoices">
              <mat-card-title> Invoices to approve</mat-card-title>
              <mat-card-content>current orders pic</mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="totalorders">
              <mat-card-title> totalorders </mat-card-title>
              <mat-card-content>current orders pic</mat-card-content>
            </mat-card>
          </div>
      
          <div class="col-md-3">
            <mat-card class="invited-contacts">
              <mat-card-title>invited contacts</mat-card-title>
              <mat-card-content>current orders pic</mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>