<mat-toolbar color="primary">
  <span class="gap">Company logo</span>
  <span class="filler"></span>

  <span class="gap">User Notofication</span>
  <span class="gap">logout</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Account Settings">
  </mat-tab>
  <mat-tab label="purchase"></mat-tab>
  <mat-tab label="invoices"></mat-tab>
  <mat-tab label="invite"></mat-tab>

  <mat-tab label="Vault"></mat-tab>

  <mat-tab label="payment notice"></mat-tab>

</mat-tab-group>